<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://projeto-final-dm-106-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>projeto-final-dm-106-app.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>projeto-final-dm-106-app</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$projeto-final-dm-106-app</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:projeto-final-dm-106-server.database.windows.net,1433;Initial Catalog=projeto-final-dm-106-db;User ID=jgilson;Password=DM106master" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="projeto_final_dm106_app.Models.ApplicationDbContext, projeto-final-dm106-app" MigrationConfiguration="projeto_final_dm106_app.Migrations.Configuration, projeto-final-dm106-app" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DM106Context" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:projeto-final-dm-106-server.database.windows.net,1433;Initial Catalog=projeto-final-dm-106-db;User ID=jgilson;Password=DM106master" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|DM106Context-20170813160427.mdf;Initial Catalog=DM106Context-20170813160427;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DM106Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=DM106Context-20170813160427; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|DM106Context-20170813160427.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DM106Context-Web.config Connection String">
      <ParameterValue>data source=tcp:projeto-final-dm-106-server.database.windows.net,1433;initial catalog=projeto-final-dm-106-db;user id=jgilson;password=DM106master;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projeto-final-dm-106-server.database.windows.net,1433;Initial Catalog=projeto-final-dm-106-db;User ID=jgilson;Password=DM106master</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DM106Context-Web.config Connection String">
      <ParameterValue>data source=tcp:projeto-final-dm-106-server.database.windows.net,1433;initial catalog=projeto-final-dm-106-db;user id=jgilson;password=DM106master;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projeto-final-dm-106-server.database.windows.net,1433;Initial Catalog=projeto-final-dm-106-db;User ID=jgilson;Password=DM106master</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DM106Context-Web.config Connection String">
      <ParameterValue>data source=tcp:projeto-final-dm-106-server.database.windows.net,1433;initial catalog=projeto-final-dm-106-db;user id=jgilson;password=DM106master;MultipleActiveResultSets=True</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projeto-final-dm-106-server.database.windows.net,1433;Initial Catalog=projeto-final-dm-106-db;User ID=jgilson;Password=DM106master</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DM106Context-Web.config Connection String">
      <ParameterValue>data source=tcp:projeto-final-dm-106-server.database.windows.net,1433;initial catalog=projeto-final-dm-106-db;user id=jgilson;password=DM106master;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projeto-final-dm-106-server.database.windows.net,1433;Initial Catalog=projeto-final-dm-106-db;User ID=jgilson;Password=DM106master</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DM106Context-Web.config Connection String">
      <ParameterValue>data source=tcp:projeto-final-dm-106-server.database.windows.net,1433;initial catalog=projeto-final-dm-106-db;user id=jgilson;password=DM106master;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:projeto-final-dm-106-server.database.windows.net,1433;Initial Catalog=projeto-final-dm-106-db;User ID=jgilson;Password=DM106master</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DM106Context-Web.config Connection String">
      <ParameterValue>data source=tcp:projeto-final-dm-106-server.database.windows.net,1433;initial catalog=projeto-final-dm-106-db;user id=jgilson;password=DM106master;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>